<div class="herobox">
    <figure class="portrait">
        <img class="face <% if (face === 'left') {%> face-left <% } %>" src="images/<%= pathname %>.png" alt="<%= pathname %>">
    </figure>
    <div class="name">
        <span><%= name %></span>
    </div>
</div>                 