@import "normalize.scss/_normalize.scss";
@import "compass/css3";

@include font-face("Quicksand", font-files("../../../styles/fonts/Quicksand-Regular.otf"));


$black1: #0a090a;
$black2: #0d0c0e;

$red1: #61090a;
$red2: #550709;

$orange: #f24c27;

$whiteyred: #e0d3cc;

// Main styles

html {
	height: 100%;
}

body {
	background: linear-gradient($black1, $black2);
	color: white;
	font-size: 0em;
	height: 100%;
    font-family: "Quicksand";
}

#sidebar {
	background: linear-gradient($red1, $red2);
	box-shadow: 0 0 7px white;
	display: inline-block;
	font-size: 1rem;  //inline-block whitespace fix
	height: 100%;
	vertical-align: top;
	width: 20%;
}

#content {
	display: inline-block;
	font-size: 1rem;  //inline-block whitespace fix
	vertical-align: top;
	width: 80%;
}

// Index styles

.logo {
	margin-top: 15%;
	margin-left: 37%;
}

.title {
	margin-left: 37.7%;
}

.searchbox {
    width: 99.5%;
    margin-bottom: 0.1em;
    input {
        width: 99.7%;
        font-size: 1.5em;
        height: 1.7em;
        text-indent: 0.4em;
        background-color: $whiteyred;
        border: 0;
    }
}

.herobox {
    height: 144px;
    overflow: hidden;
    &:hover {
        background-color: $whiteyred;
        color: $black1;
        cursor: pointer;
    }
}

.active {
    background-color: $whiteyred;
    color: $black1;
}

.portrait {
    width: 128px;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    display: inline-block;
}

.face {
    position: absolute;
    right: 0;
}

.name {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.1em;
    font-size: 2em;
    height: 100%;
    width: 50%;
    text-align: center;
    @include translateY(24%);
}

// Detail

.detail-title {
    margin-top: 2em;
    height: 10em;
    position: relative;
}

.detail-name {
    display: inline-block;
    position: absolute;
    left: 55%;
    text-shadow: 0 0 8px white;
    h1 {
        font-size: 3.2em;
        margin-bottom: 0;
    }
    h4 {
        margin-top: 0.6em;
        margin-left: 0.3em;
    }
}

.detail-image {
    display: inline-block;
    position: absolute;
    right: 2em;
    box-shadow: 0 0 20px $orange;
}

.skill {
    padding: 0 7em;
    margin-top: 1em;
}

.skill-description {
    display: inline-block;
    width: 80%;
    margin: 0 1em;
    vertical-align: top;
}

.skill-image {
    display: inline-block;
    img {
        border-radius: 50%;
        box-shadow: 0 0 15px white;
    }
}

.skill-right {
    h4 {
        text-align: right;
    }
}